<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StudyBuddy Home Page</title>
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaH_RlCTO1tD0nUfUg89kXlxymHQGYYyM&libraries=places"></script>

<!-- Firebase script -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script src="js/script.js"></script>

  	<script src="js/profile.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  	<script src="https://use.fontawesome.com/6075022657.js"></script>

  	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<style>
  #chatTxt {
    display: block;
    position: relative;
    bottom: 220px;
  }

  #profileTxt {
    display: block;
    position: relative;
    right: 30px;
    bottom: 220px;
    -webkit-transform: rotate(-143deg);
    -moz-transform: rotate(-143deg);
    -o-transform: rotate(-143deg);
    -ms-transform: rotate(-143deg);
    transform: rotate(-143deg);
  }

  #logOutTxt {
    display: block;
    position: relative;
    width: 50px;
    left: 30px;
    bottom: 225px;
    -webkit-transform: rotate(-71deg);
    -moz-transform: rotate(-71deg);
    -o-transform: rotate(-71deg);
    -ms-transform: rotate(-71deg);
    transform: rotate(-71deg);
  }

  #settingsTxt {
    display: block;
    position: relative;
    right: 33px;
    bottom: 230px;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
  }

  #studyBuddyTxt {
    display: block;
    position: relative;
    left: 43px;
    bottom: 220px;
    -webkit-transform: rotate(146deg);
    -moz-transform: rotate(146deg);
    -o-transform: rotate(146deg);
    -ms-transform: rotate(146deg);
    transform: rotate(146deg);
  }
  
	footer {
	 	position: relative;
	 	bottom: 0;
	 	width: 100%;
		background-color: #7D7D7D;
		height: 80px;
		padding: 35px;
		border-top: solid 2px #303030;
	}
</style>
	<body>
    <div class="menucontainer" id="circlemenueffect">
							<!-- ******************************** -->
							<!-- Circle Menu START -->
							<div class="circlemenu">	
								<nav class="menu-wrapper">
							 	<button class="menu-btn" has-ripple="true">
							    <i></i>
							    <i></i>
							    <i></i>
							    <span class="ripple"></span>
							  	</button>
							  	<ul class="menu">
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeChat">
							        <i class="fa fa-weixin" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="chatTxt">Chat</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder" >
							        <a href="#" class="menu-item" id="btnLogout">
							        	<i class="material-icons">
													
							            <i class="fa fa-sign-out" aria-hidden="true"></i>

							           	</i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="logOutTxt">Log Out</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeProfile">
							            <i class="fa fa-user" aria-hidden="true"></i>
							        </a>
							      </div>
										<svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="profileTxt">Profile</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeStudybuddy">
							            <i class="fa fa-map-marker" aria-hidden="true"></i>
							        </a>
										 </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="studyBuddyTxt">Buddies</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeSettings">
							            <i class="fa fa-cog" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="settingsTxt">Settings</div>
							    </li>
							  	</ul>
								</nav>
							</div>
							<!-- ******************************** -->
							<!-- Circle Menu END -->
</div>
		{{{ body }}}
<script>
$(document).ready(function() {
	$('#chatTxt').css("display","none");
	$('#profileTxt').css("display","none");
	$('#logOutTxt').css("display","none");
	$('#settingsTxt').css("display","none");
  $('#studyBuddyTxt').css("display","none");
});

// Hover function for circle menu
//-----------------------START---------------------------
function mousein1() {
$('#studyBuddyTxt').fadeIn("fast")
}
function mouseout1() {
$('#studyBuddyTxt').css("display","none")
}

function mousein2() {
$('#chatTxt').fadeIn("fast")
}
function mouseout2() {
$('#chatTxt').css("display","none")
}

function mousein3() {
$('#profileTxt').fadeIn("fast")
}
function mouseout3() {
$('#profileTxt').css("display","none")
}

function mousein4() {
$('#logOutTxt').fadeIn("fast")
}
function mouseout4() {
$('#logOutTxt').css("display","none")
}

function mousein5() {
$('#settingsTxt').fadeIn("fast")
}
function mouseout5() {
$('#settingsTxt').css("display","none")
}

$('#seeStudybuddy').hover( mousein1 , mouseout1);
$('#seeChat').hover( mousein2 , mouseout2);
$('#seeProfile').hover( mousein3 , mouseout3);
$('#btnLogout').hover( mousein4 , mouseout4);
$('#seeSettings').hover( mousein5 , mouseout5);
//-----------------------END---------------------------
</script>
	</body>
</html>