<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StudyBuddy Home Page</title>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">

<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- Firebase script -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script src="js/script.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  	<script src="https://use.fontawesome.com/6075022657.js"></script>

  	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<style>
  #chatTxt {
    display: block;
    position: relative;
    bottom: 220px;
  }

  #profileTxt {
    display: block;
    position: relative;
    right: 30px;
    bottom: 220px;
    -webkit-transform: rotate(-143deg);
    -moz-transform: rotate(-143deg);
    -o-transform: rotate(-143deg);
    -ms-transform: rotate(-143deg);
    transform: rotate(-143deg);
  }

  #logOutTxt {
    display: block;
    position: relative;
    width: 50px;
    left: 30px;
    bottom: 225px;
    -webkit-transform: rotate(-71deg);
    -moz-transform: rotate(-71deg);
    -o-transform: rotate(-71deg);
    -ms-transform: rotate(-71deg);
    transform: rotate(-71deg);
  }

  #settingsTxt {
    display: block;
    position: relative;
    right: 33px;
    bottom: 230px;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
  }

  #studyBuddyTxt {
    display: block;
    position: relative;
    left: 43px;
    bottom: 220px;
    -webkit-transform: rotate(146deg);
    -moz-transform: rotate(146deg);
    -o-transform: rotate(146deg);
    -ms-transform: rotate(146deg);
    transform: rotate(146deg);
  }
  
</style>
	<body>
    <div class="menucontainer" id="circlemenueffect">
							<!-- ******************************** -->
							<!-- Circle Menu START -->
							<div class="circlemenu">	
								<nav class="menu-wrapper">
							 	<button class="menu-btn" has-ripple="true">
							    <i></i>
							    <i></i>
							    <i></i>
							    <span class="ripple"></span>
							  	</button>
							  	<ul class="menu">
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeChat">
							        <i class="fa fa-weixin" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="chatTxt">Chat</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder" >
							        <a href="#" class="menu-item" id="btnLogout">
							        	<i class="material-icons">
													
							            <i class="fa fa-sign-out" aria-hidden="true"></i>

							           	</i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="logOutTxt">Log Out</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeProfile">
							            <i class="fa fa-user" aria-hidden="true"></i>
							        </a>
							      </div>
										<svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="profileTxt">Profile</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeStudybuddy">
							            <i class="fa fa-map-marker" aria-hidden="true"></i>
							        </a>
										 </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="studyBuddyTxt">Buddies</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeSettings">
							            <i class="fa fa-cog" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="settingsTxt">Settings</div>
							    </li>
							  	</ul>
								</nav>
							</div>
							<!-- ******************************** -->
							<!-- Circle Menu END -->
</div>
		{{{ body }}}
<script>
    $(document).ready(function() {
	$('#chatTxt').css("visibility","hidden");
	$('#profileTxt').css("visibility","hidden");
	$('#logOutTxt').css("visibility","hidden");
	$('#settingsTxt').css("visibility","hidden");
  $('#studyBuddyTxt').css("visibility","hidden");
});

// Hover function for circle menu
//-----------------------START---------------------------
$('#seeStudybuddy').mouseover(function() {
  $('#studyBuddyTxt').css("visibility","visible");
});

$('#seeStudybuddy').mouseout(function() {
  $('#studyBuddyTxt').css("visibility","hidden");
});

$('#seeChat').mouseover(function() {
  $('#chatTxt').css("visibility","visible");
});

$('#seeChat').mouseout(function() {
  $('#chatTxt').css("visibility","hidden");
});

$('#seeProfile').mouseover(function() {
  $('#profileTxt').css("visibility","visible");
});

$('#seeProfile').mouseout(function() {
  $('#profileTxt').css("visibility","hidden");
});

$('#btnLogout').mouseover(function() {
  $('#logOutTxt').css("visibility","visible");
});

$('#btnLogout').mouseout(function() {
  $('#logOutTxt').css("visibility","hidden");
});

$('#seeSettings').mouseover(function() {
  $('#settingsTxt').css("visibility","visible");
});

$('#seeSettings').mouseout(function() {
  $('#settingsTxt').css("visibility","hidden");
});
//-----------------------END---------------------------
</script>
	</body>
</html>