<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Buddifier</title>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <!-- jQuery lib -->
    <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
		<script src="js/script.js"></script>
    <script src="https://use.fontawesome.com/6075022657.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<style>
p {
    font-size: 10pt;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color 
    background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff959;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#main {
    background-color: #EEEEEE;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5%;
}
#list {
    position: relative;
}
.pane {
    width:80%;
    height:50%;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    list-style-type: none;
}
li {
    list-style-type: none;
}
.prof-imgs {
    height: 100%;
    width: 200px;
}
</style>
<body>
    <div class="menucontainer" id="circlemenueffect">
							<!-- ******************************** -->
							<!-- Circle Menu START -->
							<div class="circlemenu">	
								<nav class="menu-wrapper">
							 	<button class="menu-btn" has-ripple="true">
							    <i></i>
							    <i></i>
							    <i></i>
							    <span class="ripple"></span>
							  	</button>
							  	<ul class="menu">
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeChat">
							        <i class="fa fa-weixin" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="chatTxt">Chat</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder" >
							        <a href="#" class="menu-item" id="btnLogout">
							        	<i class="material-icons">
													
							            <i class="fa fa-sign-out" aria-hidden="true"></i>

							           	</i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="logOutTxt">Log Out</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeProfile">
							            <i class="fa fa-user" aria-hidden="true"></i>
							        </a>
							      </div>
										<svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="profileTxt">Profile</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeStudybuddy">
							            <i class="fa fa-map-marker" aria-hidden="true"></i>
							        </a>
										 </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="studyBuddyTxt">Buddies</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeSettings">
							            <i class="fa fa-cog" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="settingsTxt">Settings</div>
							    </li>
							  	</ul>
								</nav>
							</div>
							<!-- ******************************** -->
							<!-- Circle Menu END -->
</div>
    {{{body}}}

<script>
$(document).ready(function() {
	$('#chatTxt').css("display","none");
	$('#profileTxt').css("display","none");
	$('#logOutTxt').css("display","none");
	$('#settingsTxt').css("display","none");
  $('#studyBuddyTxt').css("display","none");
});

// Hover function for circle menu
//-----------------------START---------------------------
function mousein1() {
$('#studyBuddyTxt').fadeIn("fast")
}
function mouseout1() {
$('#studyBuddyTxt').css("display","none")
}

function mousein2() {
$('#chatTxt').fadeIn("fast")
}
function mouseout2() {
$('#chatTxt').css("display","none")
}

function mousein3() {
$('#profileTxt').fadeIn("fast")
}
function mouseout3() {
$('#profileTxt').css("display","none")
}

function mousein4() {
$('#logOutTxt').fadeIn("fast")
}
function mouseout4() {
$('#logOutTxt').css("display","none")
}

function mousein5() {
$('#settingsTxt').fadeIn("fast")
}
function mouseout5() {
$('#settingsTxt').css("display","none")
}

$('#seeStudybuddy').hover( mousein1 , mouseout1);
$('#seeChat').hover( mousein2 , mouseout2);
$('#seeProfile').hover( mousein3 , mouseout3);
$('#btnLogout').hover( mousein4 , mouseout4);
$('#seeSettings').hover( mousein5 , mouseout5);
//-----------------------END---------------------------
</script>
</body>
</html>