<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Buddifier</title>
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">
    <!-- jQuery lib -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
		<script src="js/script.js"></script>
    <script src="https://use.fontawesome.com/6075022657.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<style>
* {
  margin: 0;
}
body {
  height: 100%;
	background-color: #F39C12;
}
p {
    font-size: 10pt;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color 
    background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #0288D1;
		color: white;
		font-family: 'Raleway', sans-serif;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#main {
    background-color: #EEEEEE;
    border-radius: 5px;
    margin-bottom: 5%;
		box-shadow: 0 0 10px #888888;
}
#list {
    position: relative;
}
.pane {
    width:80%;
    height:50%;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 5px !important;
    padding: 10px;
    list-style-type: none;
		display: block;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
#buddySubmitBtn , #gotoProfile{
	background-color: #F39C12;
	color: #303030;
	border-radius: 4px;

}
.prof-imgs {
    width: 200px;
		display: block;
    margin: 0 auto;
}
.menu-btn {
	z-index: 1;
}
.modalBackDrop {
	z-index:2;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:#464646;
	opacity: 0.75;
	background-repeat: repeat;
	margin-top: 0px;
	margin-left: 0px;
}
 #chatTxt {
    display: block;
    position: relative;
    bottom: 220px;
  }

  #profileTxt {
    display: block;
    position: relative;
    right: 30px;
    bottom: 220px;
    -webkit-transform: rotate(-143deg);
    -moz-transform: rotate(-143deg);
    -o-transform: rotate(-143deg);
    -ms-transform: rotate(-143deg);
    transform: rotate(-143deg);
  }

  #logOutTxt {
    display: block;
    position: relative;
    width: 50px;
    left: 30px;
    bottom: 225px;
    -webkit-transform: rotate(-71deg);
    -moz-transform: rotate(-71deg);
    -o-transform: rotate(-71deg);
    -ms-transform: rotate(-71deg);
    transform: rotate(-71deg);
  }

  #settingsTxt {
    display: block;
    position: relative;
    right: 33px;
    bottom: 230px;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
  }

  #studyBuddyTxt {
    display: block;
    position: relative;
    left: 43px;
    bottom: 220px;
    -webkit-transform: rotate(146deg);
    -moz-transform: rotate(146deg);
    -o-transform: rotate(146deg);
    -ms-transform: rotate(146deg);
    transform: rotate(146deg);
  }

#foot {
	width: 100% !important;
	display: inline-flex;
	margin-top: 20px;
	background-color: #7D7D7D;
	border-top: solid 2px #303030;
	height: 80px;
	padding: 35px;
}

#footertxt {
	display: inline-block;
	padding: 0;
	margin: auto;
	text-align: center !important;
}
</style>
<body>
		<!--backdrop when first modal is up -->
<div class="modalBackDrop" id="backdropdiv"></div>
    <div class="menucontainer" id="circlemenueffect">
							<!-- ******************************** -->
							<!-- Circle Menu START -->
							<div class="circlemenu">	
								<nav class="menu-wrapper">
							 	<button class="menu-btn" has-ripple="true">
							    <i></i>
							    <i></i>
							    <i></i>
							    <span class="ripple"></span>
							  	</button>
							  	<ul class="menu">
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeChat">
							        <i class="fa fa-weixin" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="chatTxt">Chat</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder" >
							        <a href="#" class="menu-item" id="btnLogout">
							        	<i class="material-icons">
													
							            <i class="fa fa-sign-out" aria-hidden="true"></i>

							           	</i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="logOutTxt">Log Out</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeProfile">
							            <i class="fa fa-user" aria-hidden="true"></i>
							        </a>
							      </div>
										<svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="profileTxt">Profile</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeStudybuddy">
							            <i class="fa fa-map-marker" aria-hidden="true"></i>
							        </a>
										 </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="studyBuddyTxt">Buddies</div>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeSettings">
							            <i class="fa fa-cog" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
										<div id="settingsTxt">Settings</div>
							    </li>
							  	</ul>
								</nav>
							</div>
							<!-- ******************************** -->
							<!-- Circle Menu END -->
</div>
    {{{body}}}

<script>
$(document).ready(function() {
	$('#chatTxt').css("display","none");
	$('#profileTxt').css("display","none");
	$('#logOutTxt').css("display","none");
	$('#settingsTxt').css("display","none");
  $('#studyBuddyTxt').css("display","none");
});

// Hover function for circle menu
//-----------------------START---------------------------
function mousein1() {
$('#studyBuddyTxt').fadeIn("fast")
}
function mouseout1() {
$('#studyBuddyTxt').css("display","none")
}

function mousein2() {
$('#chatTxt').fadeIn("fast")
}
function mouseout2() {
$('#chatTxt').css("display","none")
}

function mousein3() {
$('#profileTxt').fadeIn("fast")
}
function mouseout3() {
$('#profileTxt').css("display","none")
}

function mousein4() {
$('#logOutTxt').fadeIn("fast")
}
function mouseout4() {
$('#logOutTxt').css("display","none")
}

function mousein5() {
$('#settingsTxt').fadeIn("fast")
}
function mouseout5() {
$('#settingsTxt').css("display","none")
}

$('#seeStudybuddy').hover( mousein1 , mouseout1);
$('#seeChat').hover( mousein2 , mouseout2);
$('#seeProfile').hover( mousein3 , mouseout3);
$('#btnLogout').hover( mousein4 , mouseout4);
$('#seeSettings').hover( mousein5 , mouseout5);
//-----------------------END---------------------------
</script>
</body>
</html>