  <style>
    html {
      min-height: 100%;
      position: relative;
    }
    body {
      background-color: #FFEF1C;
      min-height: 100%;
    }
    footer {
      position: absolute;
      margin-top: 20px;
    }
    #main {
      display: block;
    }
  </style>

    <div class="container text-center" id="main">
      <h1 id="info">Chat Room</h1>
      <div class="row">
        <div class="col-sm-push-3 col-sm-6 text-center" id="chatbox" style="display: ">
          <ul id="messages"></ul>
            <form action="">
              <input id="m" autocomplete="off" /><button>Send</button>
            </form>
        </div>
      </div>
    </div>

<footer>
	<p class="text-center" id="footer">© Copyright StudyBuddy 2017</p>
</footer>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!-- Firebase script -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script src="js/app.js"></script>
<script src="js/chat.js"></script>
<script>
var widget = $('.circlemenu');

$('.menu-item').on('click', function(){
	
})
</script>
