<link rel="stylesheet" href="../public/assets/css/main.css">

<div class="container">

<div class="jumbotron" align="center">
  <div class="page-header">
 
    <h1 class="mainhead">Study Buddy</h1>      
  </div>
		  	<div class="container" id="main">
			  	<div class="container">
			         <h3>
			         	Find the perfect Study Buddy near you!
			         </h3>
						<div>
								<br>
								<button type="button" class="btn btn-primary btn-lg" id="gotoSignup">
								<a href="/signup" id="buttons">
								Sign Up
								</a>
								</button>
								||
								<button type="button" class="btn btn-primary btn-lg" id="btnLogin">
								<a href="/profile" id="buttons">
								Log In
								</a>
								</button>
								<br><br>
								<div class="container">
									<input id="loginEmail" type="email" placeholder="Email">
									<input id="loginPassword" type="password" placeholder="Password">
								</div>
							<p></p>
						</div>
				</div>
							
</div>
		
		 	</div>
</div>
</div>
<footer>
	<p class="text-center">© Copyright StudyBuddy 2017</p>
</footer>
<!-- Firebase script -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script src="js/app.js"></script>

