
<div class="menucontainer" id="circlemenueffect">
							<!-- ******************************** -->
							<!-- Circle Menu START -->
							<div class="circlemenu">	
								<nav class="menu-wrapper">
							 	<button class="menu-btn" has-ripple="true">
							    <i></i>
							    <i></i>
							    <i></i>
							    <span class="ripple"></span>
							  	</button>
							  	<ul class="menu">
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeChat chatRoom">
							        <i class="fa fa-weixin" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
							    </li>
							    <li class="menuitem-wrapper">

							      <div class="icon-holder" >
							        <a href="#" class="menu-item" id="btnLogout">
							        	<i class="material-icons">
							            <i class="fa fa-sign-out" aria-hidden="true"></i>

							        
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">

							        <a href="#" class="menu-item" id="seeProfile">
							            <i class="fa fa-user" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeStudybuddy">
							            <i class="fa fa-map-marker" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
							    </li>
							    <li class="menuitem-wrapper">
							      <div class="icon-holder">
							        <a href="#" class="menu-item" id="seeSettings">
							            <i class="fa fa-cog" aria-hidden="true"></i>
							        </a>
							      </div>
							      <svg class="circle-holder">
							        <circle r="88" cx="50%" cy="50%" fill="none">
							        </circle>
							      </svg>
							    </li>
							  	</ul>
								</nav>
							</div>
							<!-- ******************************** -->
							<!-- Circle Menu END -->
</div>

<div class="container">

<div class="jumbotron" align="center">
  <div class="page-header">
 
    <h1 class="mainhead">Study Buddy</h1>      
  </div>
		  	<div class="container">
			  	<div class="container">
			         <h3>
			         	Find the perfect Study Buddy near you!
			         </h3>
						<div>
								<br>
								<button type="button" class="btn btn-primary btn-lg" id="gotoSignup">
								<a href="/signup" id="buttons">
								Sign Up
								</a>
								</button>
								||
								<button type="button" class="btn btn-primary btn-lg" id="btnLogin">
								<a href="/profile" id="buttons">
								Log In
								</a>
								</button>
								<br><br>
								<div class="container">
									<input id="loginEmail" type="email" placeholder="Email">
									<input id="loginPassword" type="password" placeholder="Password">
								</div>
							<p></p>
						</div>
				</div>
							
</div>
		
		 	</div>
</div>
</div>
<footer>
	<p class="text-center">© Copyright StudyBuddy 2017</p>
</footer>
<!-- Firebase script -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script src="js/app.js"></script>
<script>

var widget = $('.circlemenu');

$('.menu-item').on('click', function(){
	
})
</script>
