<style>
       #map {
        height: 400px;
        width: 100%;
       }
       #location-input{
        color: black;
       }
    </style>

<link rel="stylesheet" href="../public/assets/css/profile.css">

<div class="container text-center">
    <h1 id="profile"></h1>

</div>
<div class="container col-xs-8 col-xs-offset-2" id="main">
    <div id="profileDiv" class="container col-xs-12">
        <div class="row" style="margin-bottom: 3%">
					<div class="col-md-10 col-md-offset-1">
						<label for="fullName">Name:</label>
						<p  id="fullName" name="fullName"> </p>
					<br />
						<label for="email">Email:</label>
						<p  id="email" name="email"> </p>
					<br />
						<label for="photo">Profile Picture: </label>
						<div id="profilePhoto"></div>
            			<label for="city">City:</label>
						<p  id="city" name="city"> </p>
					<br />
						<label for="state">State:</label>
            			<p id="state" name="state">  </p>
					<br />
						<label for="zipCode">Zip Code:</label>
            			<p id="zipCode" name="zipCode">  </p>
					<br />
						<label for="age">Age:</label>
						<p  id="age" name ="age"> </p>
					<br />
						<label for="phone">Phone Number:</label>
						<p  id="phone" name="phone">  </p>
					<br />
						<label for="gender">Gender:</label>
						<p  id="gender" name="gender">  </p>
					<br />
						<label for="school">School:</label>
						<p  id="school" name="school">  </p>
					<br />
						<label for="aos">Area of Study:</label>
						<p id="aos" name="aos"> </p>
						<label for="study">Study Subject:</label>
						<p id="study" name="study">  </p>
					<br />
						 <div id="map"></div>

						 <div id="closest"></div>
				</div>
			</div>
		</div>
    </div>
</div>
<footer class="text-center">
	© Copyright StudyBuddy 2017
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--Google Maps API-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Firebase script -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script src="js/app.js"></script>
<script>

var widget = $('.circlemenu');

$('.menu-item').on('click', function(){
	
})
</script>

