
<link rel="stylesheet" href="../public/assets/css/settings.css">

<div class="container col-xs-8 col-xs-offset-2">
    <h1 id="edit" class="text-center">Edit Your Settings</h1>
</div>
<div class="container col-xs-8 col-xs-offset-2" id="main">
    <div id="listDiv" class="container col-xs-12">
        <div class="row">
			<div class="col-md-10 col-md-offset-1">
				<form id="editForm">
					<div class="form-group">
						<label for="firstName">First Name:</label>
						<input type="text" class="form-control" id="firstname" name="firstName">
						<br />
						<label for="lastName">Last Name:</label>
						<input type="text" class="form-control" id="lastname" name="lastName">
						<br />
						<label for="email">Email:</label>
						<input type="text" class="form-control" id="loginEmail" name="email">
						<br />
						<label for="photoURL">Photo URL:</label>
						<input type="text" class="form-control" id="photoURL" name="photoURL">
						<br />
						<label for="password">Password:</label>
						<input type="password" class="form-control" id="loginPassword" name="password">
						<br />
						<label for="emailVerify">Verify Password:</label>
						<input type="password" class="form-control" id="verify" name="emailVerify">
						<br />
						<label for="city">City:</label>
						<input type="text" class="form-control" id="city" name="city">
						<br />
						<div class="form-group">
							<label for="state">State:</label>
							<select class="form-control" id="state" name="state">
  						</select>
						</div>
						<br />
						<label for="zipCode">Zip Code:</label>
						<input type="text" class="form-control" id="zipCode" name="zipCode">
						<br />
						<label for="age">Age:</label>
						<input type="text" class="form-control" id="age" name ="age">
						<br />
						<label for="phone">Phone Number:</label>
						<input type="text" class="form-control" id="phone" name="phone">
						<br />
						<div class="form-group">
							<label for="gender">Gender:</label>
							<select class="form-control" id="gender" name="gender">
  						</select>
						</div>
						<br />
						<label for="school">School:</label>
						<input type="text" class="form-control" id="school" name="school">
						<br />
						<label for="body">Area of Study:</label>
						<textarea class="form-control" rows="10" id="aos" name="body"></textarea>
						<div class="form-group">
							<label for="study">Study Subject:</label>
							<select class="form-control" id="study" name="study">
  						</select>
						</div>
						<br />
					
						<button type="submit" class="btn btn-success submit" id="btnUpdate">Save Changes</button>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>

<footer >
	<p class="text-center" id="footer">© Copyright StudyBuddy 2017</p>
</footer>
<!-- Firebase script -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script src="js/app.js"></script>
<script src="js/settings.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
var widget = $('.circlemenu');

$('.menu-item').on('click', function(){
	
})
</script>