html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: #F5F5F5;
}

.jumbotron {
	margin-top: 1%;
	color: white;
	background-color: #EB5E00;
	margin-bottom: 15%;
}

#loginEmail {
	color: black;
	border-radius: 3px;
}

#loginPassword {
	color: black;
	border-radius: 3px;
}

h3 {
	font-family: 'Raleway', sans-serif;
}