#profile {
	font-family: 'Pacifico', cursive;
	font-size: 80px;
}

body {
	background-color: #1ABC9C;
}

#profileDiv {
	background-color: white;
	border-radius: 6px;
	margin-top: 40px;
	padding-top: 10px;
	box-shadow: 0 0 10px #888888;
}

footer {
	width: 100%;
	display:inline-flex;
	margin-top: 20px;
	padding: auto;
	padding-left: 650px;
}

#footer {
	text-align: center;
	display: block;
}