#edit {
	font-family: 'Pacifico', cursive;
	font-size: 80px;
}

body {
	background-color: #8E44AD;
}

footer {
	width: 100%;
	display: inline-flex;
	margin-top: 20px;
}

#footer {
	padding-left: 650px;
}

#editForm {
	background-color: white;
	border-radius: 8px;
	padding: 12px;
	margin-top: 20px;
	box-shadow: 0 0 10px #000;
}